body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: radial-gradient(circle at center, #07111f 0%, #02050a 60%, #000000 100%);
  font-family: Arial, sans-serif;
  color: white;
}

canvas {
  display: block;

}

#info {
  position: fixed;
  top: 16px;
  left: 16px;
  padding: 8px 14px;
  background: rgba(0, 0, 0, 0.45);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 999px;
  font-size: 0.95rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  z-index: 10;

  &:hover{
    background: rgb(250 249 249 / 0.45);
    color: #e6ce0d;
  }
}
